*{
    font-size: 1.5em;
    text-align: center;
}
body{
    margin: 0;
}
table{
    margin: 0 auto;
    border: 0;
}
td{
    border: 15px solid #000;
    width: 230px;
    height: 230px;
}
tr:first-child td{
    border-top: 0;
}
tr:last-child td{
    border-bottom: 0;
}
td:first-child{
    border-left: 0;
}
td:last-child{
    border-right: 0;
}
.cross{
    color: #ff0000;
}
.circle{
    color: #0000ff;
}
button{
    background-color: #fff;
    border-color: #000;
    border-radius: 15px;
    color: #000;
}
.crossOut{
    background-color: #00ff00;
}